body {
    padding: 0;
    background-color: #d9e7e2;
    font-family: 'Poppins';
    max-width: 100%;
    margin: 0;
    /* overflow-x: hidden; */
}

/* Header mobile phone */
header {
    max-width: 100%;
    margin: 0;
}

h1 {
    /* border: 2px solid black; */
    text-align: center;
    color: #23362f;
    width: 100%;
    padding-top: 50px;

}

/* Main section mobile phone */

main {
    padding: 10px;
}

.categories {
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-evenly;
    /* background-color: whitesmoke; */
    /* padding: 10px; */
    max-width: 100%;
    padding: 20px 0 20px 0;
    border-radius: 5px 5px 0 0;
    border-bottom: 2px solid gray;
    gap: 2px;
}

h2 {
    /* border: 2px solid orange; */
    text-align: center;
    margin: 0 auto;
}

/* Filter on Kitchen */

.filter-container {
    /* border: 2px solid green; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: whitesmoke; */
    padding: 0px 25px 25px 25px;

}

form {
    /* border: 2px solid hotpink; */
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
    align-items: center;
    justify-content: center;
}



/* Sort Container */

.sort-container {
    /* border: 2px solid purple; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: whitesmoke; */
    padding: 0px 25px 25px 25px;
}

/* buttons */
.country,
.decending,
.ascending {
    border-radius: 5px;
    background-color: #a3b8b1;
    max-width: 80%;
    font-weight: 700;
    margin: 5px;
    padding: 5px;
    border: none;
    border: none;
    box-shadow: 10px 5px 5px grey;
}

/* Changes made: Changed the background color so it is the same color theme as the background. Added a box shadow to the buttons and changed the font weight to 700.  */

.country:hover,
.ascending:hover,
.decending:hover {
    background-color: rgb(96, 96, 122);
    color: white;
}

/* Card Contents */

section {
    display: grid;
    /* grid-template-columns: repeat(4, 1fr); */
    /* display: flex; */
    gap: 5px;
    background: #d9e7e2;
    grid-template-columns: repeat(auto-fit, minmax(240px, 3fr));
    padding: 20px;
    border: red;
}

/* 
Changed the background of section so it is the same as the body background */

.card {
    display: flex;
    border: 2px solid orange;
    padding: 20px;
    max-width: 240px;
    flex-direction: column;
}

.card-image {

    width: 100%;
    height: 300px;
    /* Set a fixed height for all images */
    border: 2px solid hotpink;
    overflow: hidden;
    /* Ensures the image stays within the container */

}


img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Ensures the image covers the entire container while maintaining aspect ratio */
    /* align-items: center; */
}